.Variant-control {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease-in-out;
}

.Variant-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 2px rgba(141, 174, 208, 0.25);
}

#remove-variant {
    font-size: large;
}

#add-variant {
    font-size: large;
}

.admin-footer {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.var-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .deletelogo {
    position: absolute;
    top: 10px;
    left: 8em;
    display: none;
} */


.deletelogo {
    position: absolute;
    top: 10px;
    left: 6rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.prologo-container:hover .deletelogo {
    opacity: 1;
}

.prologo-container {
    position: relative;
    display: inline-block;
    margin: 10px;

}

.prologo-container img {
    border: rgb(191, 182, 182) 5px solid;
    border-radius: 10px;
}


#admin-orders {
    margin-top: 3rem !important;
    overflow: auto;
}

#order-search {
    display: flex;
}

/*
.order-status .status-form{
    width: 10px;
} */


#admin-orders table{
    width: 1600px !important;
}

.order-status {
    display: flex;
    justify-content: space-between !important;
}

.order-status div {
    margin-right: 5px;
}



.prod-set{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.prod-img img{
    max-height: 40px;
    max-width: 40px;

}

.prod-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;

}

.prod-price{
    font-weight: 800;
    margin-left: 5px;
}


