a {
    color: rgb(247, 248, 251);
    text-decoration: none;
}

/* ------- Sidebar style ------- */
.sidebar {
    width: 230px;
    height: auto;
    background-color: #d10024;
    color: #fff;
}

.sidebar ul {
    margin-top: 50px;
    list-style: none;
}

.sidebar ul li {
    padding: 16px 10px;
    margin: 16px;
    border-radius: 5px;
}

.sidebar ul li a {
    color: currentColor;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li.active {
    background-color: rgb(247, 248, 251);
    color: #d10024;
}

.sidebar ul li:hover {
    background-color: #e4a2ad;
    color: #d10024;
}

#newsletter.section {
    margin-top: 1px !important;
}

.content-container {
    display: flex;
}

.main-container {
    margin: 1rem;
    position: relative;
    right: 0;
    width: 100%;
    /* overflow: hidden auto; */
}

.menu {
    display: none;
}

.sidebar-container {
    background-color: #d10024;
}

.cart-table table tbody tr td,.cart-table table thead tr th{
    text-align: center;
}

.cart-table,.wishlist-table{
    margin-top: 2rem;

}



.wishlist-table table tbody tr td,.wishlist-table table thead tr th{
    text-align: center;
}



.btn-checkout{
    border: 3px solid #d10024 !important;
    position:relative;
    bottom: 0 ;
    right: 0 !important;
    margin: 2rem;
    margin-left: 3rem;
    background-color: #d10024;
    color: #fff;
    border-radius: 25px !important;
    transition: all 0.4s ease-in-out;
}

.btn-checkout:hover{
    border: 3px solid #d10024 !important;
    background-color: #fff;
    font-weight: 900 !important;
    color: #d10024 !important;
    border-radius: 25px !important;
    padding-right:  30px;
    padding-left:  30px;

}

.btn-checkout-container{
    display: flex;
    justify-content: end;
}


@media screen and (max-width: 992px) {
    nav {
        height: 0px;
    }

    #navigation {
        border-bottom: 0px solid #e4e7ed !important;
        border-top: 4px solid #d10024 !important;
    }

    .sidebar {
        display: none;
    }

    .menu {
        display: block;
        margin: 20px;
        margin-left: 3%;
        border: 3px solid red;
        height: min-content;
        width: min-content;
        padding: 6px;
        border-radius: 33%;
        padding-bottom: 3px;
    }
    .menuOpen {
        display: block !important;
        position: fixed !important;

        top: 0 !important;
        left: 0 !important;

        width: 250px !important;
        height: 100% !important;
        z-index: 1000 !important;
    }

    .menuContainerOpen {
        display: block !important;
        position: fixed !important;

        top: 0 !important;
        left: 0 !important;
        height: 100% !important;
        width: 100% !important;
        z-index: 100 !important;
        background-color: #b56c7947 !important;
    }
}


