a {
    color: rgb(247, 248, 251);
    text-decoration: none;
}

/* ------- Sidebar style ------- */
.sidebar {
    width: 230px;
    height: auto;
    background-color: #d10024;
    color: #fff;
}

.sidebar ul {
    margin-top: 50px;
    list-style: none;
}

.sidebar ul li {
    padding: 16px 10px;
    margin: 16px;
    border-radius: 5px;
}

.sidebar ul li a {
    color: currentColor;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li.active {
    background-color: rgb(247, 248, 251);
    color: #d10024;
}

.sidebar ul li:hover {
    background-color: #e4a2ad;
    color: #d10024;
}

#newsletter.section {
    margin-top: 1px !important;
}

.content-container {
    display: flex;
}

.main-container {
    margin: 3rem;
    position: relative;
    right: 0;
    width: calc(100% - 230px);
    overflow: hidden auto;
}

.menu {
    display: none;
}


@media screen and (max-width: 992px) {
    nav {
        height: 0px;
    }

    #navigation {
        border-bottom: 0px solid #e4e7ed !important;
        border-top: 4px solid #d10024 !important;
    }

    .sidebar {
        display: none;

    }



    .menu {
        display: block;
        margin: 20px;
        margin-left: 3%;
        border: 3px solid red;
        height: min-content;
        width: min-content;
        padding: 6px;
        border-radius: 33%;
        padding-bottom: 3px;
    }


}